{
  "notice": "This file is maintained by MPaaS automatically.",
  "project": "ARTVCDemo_Plugin",
  "copy": false,
  "targets": {
    "ARTVCDemo_Plugin": {
      "author": "阔悬",
      "time": "2020/07/29 17:13:49",
      "versions": {
        "mPaaS_LocalLog": {
          "APLog": "3.0.2.200619152113"
        },
        "mPaaS_MobileFramework": {
          "APMobileFramework": "1.0.0.200612164733",
          "mPaas": "1.0.0.200702162413",
          "APLog": "3.0.2.200619152113",
          "APRemoteLogging": "1.0.0.200716144718",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.200228175209"
        },
        "mPaaS_OpenSSL": {
          "APOpenSSL": "1.0.0.200228175209"
        },
        "mPaaS_ARTVC": {
          "ARTVC": "1.0.0.200721201508",
          "APMUtils": "1.0.0.200617195627",
          "SocketRocket": "1.0.0.200714161608",
          "APMobileNetwork": "1.0.0.200525171627",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "mPaas": "1.0.0.200702162413",
          "APLog": "3.0.2.200619152113",
          "APOpenSSL": "1.0.0.200228175209",
          "APMobileFramework": "1.0.0.200612164733",
          "APRemoteLogging": "1.0.0.200716144718",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.200228175209",
          "APMLogging": "1.0.0.200716133857"
        }
      },
      "baseline": "10.1.68",
      "pversion": "12",
      "custom": false,
      "frameworks": [
        "APLog.framework",
        "APMobileFramework.framework",
        "mPaas.framework",
        "APRemoteLogging.framework",
        "UTDID.framework",
        "APProtocolBuffers.framework",
        "APOpenSSL.framework",
        "ARTVC.framework",
        "APMUtils.framework",
        "SocketRocket.framework",
        "APMobileNetwork.framework",
        "SecurityGuardSDK.framework",
        "SGMain.framework",
        "APSecurityUtility.framework",
        "APMLogging.framework"
      ],
      "resources": [
        "APMobileFramework.bundle",
        "APRemoteLogging.bundle",
        "APMUtils.bundle",
        "APMobileNetwork.bundle"
      ]
    }
  },
  "recent": "ARTVCDemo_Plugin"
}