{
  "notice": "This file is maintained by MPaaS automatically.",
  "project": "ARTVCDemo_Plugin",
  "copy": false,
  "targets": {
    "ARTVCDemo_Plugin": {
      "author": "shaochangying",
      "time": "2021/04/09 10:50:43",
      "versions": {
        "mPaaS_LocalLog": {
          "APLog": "3.0.2.201208163740"
        },
        "mPaaS_MobileFramework": {
          "APMobileFramework": "1.0.0.210208171147",
          "mPaas": "1.0.0.210301142936",
          "APLog": "3.0.2.201208163740",
          "APRemoteLogging": "1.0.0.210401130436",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.200228175209"
        },
        "mPaaS_UTDIDLib": {
          "UTDID": "1.0.2.190226130141"
        },
        "mPaaS_OpenSSL": {
          "APOpenSSL": "1.0.0.200228175209"
        },
        "mPaaS_ARTVC": {
          "ARTVC": "1.0.0.210408144131",
          "APMUtils": "1.0.0.201103180649",
          "SocketRocket": "1.0.0.200811152708",
          "APMLogging": "1.0.0.200716133857",
          "APLog": "3.0.2.201208163740",
          "APRemoteLogging": "1.0.0.210401130436",
          "mPaas": "1.0.0.210301142936",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.200228175209",
          "MPARTVCUpload": "1.0.0.210407101246",
          "APMobileNetwork": "1.0.0.210120113855",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APOpenSSL": "1.0.0.200228175209",
          "APMobileFramework": "1.0.0.210208171147"
        }
      },
      "baseline": "cp_change_26792",
      "pversion": "1",
      "custom": true,
      "frameworks": [
        "APLog.framework",
        "APMobileFramework.framework",
        "mPaas.framework",
        "APRemoteLogging.framework",
        "UTDID.framework",
        "APProtocolBuffers.framework",
        "APOpenSSL.framework",
        "ARTVC.framework",
        "APMUtils.framework",
        "SocketRocket.framework",
        "APMLogging.framework",
        "MPARTVCUpload.framework",
        "APMobileNetwork.framework",
        "SecurityGuardSDK.framework",
        "SGMain.framework"
      ],
      "resources": [
        "APMobileFramework.bundle",
        "APRemoteLogging.bundle",
        "APMUtils.bundle",
        "APMobileNetwork.bundle"
      ]
    }
  },
  "recent": "ARTVCDemo_Plugin"
}